.footer{
    width:1200px;
    height:150px;
    display:flex;
    margin:0 auto;
    justify-content:center;
}
.footer img{
    width:100px;
    height:50px;
    margin-top:50px;
}
.footer>table{
    width:500px;
    margin-top:50px;
}
.footer>table th{
    font:bold 12px  "黑体";
}
.footer>table td{
    width:50px;
    text-align: center;
    padding-top:10px;
    font:12px "黑体";
}
.record{
    width:1200px;
    margin:0 auto;
    height:50px;
    text-align:center;
    font:14px "黑体";
}